In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('Gandum.csv', header = None)

df.columns = ["Id", "Daerah", "SumbuUtama", "SumbuKecil", "Keunikan", "AreaBulatan", "Diameter", "KadarAir", "Keliling", "Bulatan", "Ransum", "Kelas"]

df = df.drop(["Id","Kelas"], axis=1)

## Nomor 1
    Menulis deskripsi statistika (Descriptive Statistics) dari semua kolom pada data yang bersifat
    numerik, terdiri dari mean, median, modus, standar deviasi, variansi, range, nilai minimum,
    maksimum, kuartil, IQR, skewness dan kurtosis. Boleh juga ditambahkan deskripsi lain.

### **Mean**

In [2]:
### Mean
df.mean()

Daerah         4801.246000
SumbuUtama      116.045171
SumbuKecil       53.715246
Keunikan          0.878764
AreaBulatan    4937.048000
Diameter         77.771158
KadarAir          0.648372
Keliling        281.479722
Bulatan           0.761737
Ransum            2.150915
dtype: float64

### **Modus**

In [3]:
### Modus
df_mode = df.mode()

for column in df_mode:
    if (df_mode[column].isnull().sum() == 0):
        df_mode[column].loc[:] = np.nan
        
print(df_mode.mode().to_string(index = False))

 Daerah  SumbuUtama  SumbuKecil  Keunikan  AreaBulatan  Diameter  KadarAir  Keliling  Bulatan  Ransum
 3992.0         NaN         NaN       NaN       3802.0 71.293564  0.735849       NaN      NaN     NaN
 4881.0         NaN         NaN       NaN       4913.0 78.833256  0.824405       NaN      NaN     NaN
 5642.0         NaN         NaN       NaN          NaN 84.756224       NaN       NaN      NaN     NaN
 6083.0         NaN         NaN       NaN          NaN 88.006342       NaN       NaN      NaN     NaN

### **Standard Deviasi**

In [4]:
### Standar Deviasi
df.std()

Daerah          986.395491
SumbuUtama       18.282626
SumbuKecil        4.071075
Keunikan          0.036586
AreaBulatan    1011.696255
Diameter          8.056867
KadarAir          0.094367
Keliling         37.335402
Bulatan           0.061702
Ransum            0.249767
dtype: float64

### **Variansi**

In [5]:
### Variansi
df.var()###.apply(lambda x: '%.4f' % x) <- Buat hapus bentuk scientific

Daerah         9.729761e+05
SumbuUtama     3.342544e+02
SumbuKecil     1.657365e+01
Keunikan       1.338528e-03
AreaBulatan    1.023529e+06
Diameter       6.491311e+01
KadarAir       8.905149e-03
Keliling       1.393932e+03
Bulatan        3.807194e-03
Ransum         6.238350e-02
dtype: float64

### **Range**

In [6]:
### Range
new_data = {}

for column in df:
    new_data[column] = df[column].max() - df[column].min()
    
new_df = pd.DataFrame(new_data, index = [' '])

print(new_df.to_string(index = False))

 Daerah  SumbuUtama  SumbuKecil  Keunikan  AreaBulatan  Diameter  KadarAir  Keliling  Bulatan   Ransum
   4931  153.795469   29.071182  0.194085         5141 40.747172  0.468972   291.822 0.730158 1.024013

### **Min**

In [7]:
### Min
df.min()

Daerah         2522.000000
SumbuUtama       74.133114
SumbuKecil       39.906517
Keunikan          0.719916
AreaBulatan    2579.000000
Diameter         56.666658
KadarAir          0.409927
Keliling        197.015000
Bulatan           0.174590
Ransum            1.440796
dtype: float64

### **Max**

In [8]:
### Max
df.max()

Daerah         7453.000000
SumbuUtama      227.928583
SumbuKecil       68.977700
Keunikan          0.914001
AreaBulatan    7720.000000
Diameter         97.413830
KadarAir          0.878899
Keliling        488.837000
Bulatan           0.904748
Ransum            2.464809
dtype: float64

### **Kuartil Bawah**

In [9]:
### Kuartil bawah
df.quantile(.25).apply(lambda x: '%.4f' % x)

Daerah         4042.7500
SumbuUtama      104.1161
SumbuKecil       51.1936
Keunikan          0.8637
AreaBulatan    4170.2500
Diameter         71.7453
KadarAir          0.5726
Keliling        255.8830
Bulatan           0.7320
Ransum            1.9839
Name: 0.25, dtype: object

### **Median**

In [10]:
### Median
df.median()

Daerah         4735.000000
SumbuUtama      115.405140
SumbuKecil       53.731199
Keunikan          0.890045
AreaBulatan    4857.000000
Diameter         77.645277
KadarAir          0.626117
Keliling        280.045500
Bulatan           0.761288
Ransum            2.193599
dtype: float64

### **Kuartil Atas**

In [11]:
### Kuartil atas
df.quantile(.75)

Daerah         5495.500000
SumbuUtama      129.046792
SumbuKecil       56.325158
Keunikan          0.907578
AreaBulatan    5654.250000
Diameter         83.648598
KadarAir          0.726633
Keliling        306.062500
Bulatan           0.796361
Ransum            2.381612
Name: 0.75, dtype: float64

### **IQR**

In [12]:
### IQR
new_data = {}

for column in df:
    new_data[column] = df[column].quantile(.75) - df[column].quantile(.25)
    
new_df = pd.DataFrame(new_data, index = [' '])

print(new_df.to_string(index = False))

 Daerah  SumbuUtama  SumbuKecil  Keunikan  AreaBulatan  Diameter  KadarAir  Keliling  Bulatan   Ransum
1452.75   24.930694    5.131582  0.043902       1484.0  11.90329  0.154001   50.1795  0.06437 0.397673

### **Skewness**

In [13]:
### Skewness
df.skew()

Daerah         0.238144
SumbuUtama     0.761529
SumbuKecil    -0.010828
Keunikan      -1.623472
AreaBulatan    0.257560
Diameter       0.002725
KadarAir       0.493661
Keliling       0.733627
Bulatan       -3.599237
Ransum        -0.658188
dtype: float64

### **Kurtosis**

In [14]:
### Kurtosis
df.kurtosis()

Daerah         -0.434631
SumbuUtama      4.330534
SumbuKecil      0.475568
Keunikan        2.917256
AreaBulatan    -0.409685
Diameter       -0.466455
KadarAir       -0.740326
Keliling        2.272685
Bulatan        29.975096
Ransum         -0.428656
dtype: float64